html{
    background: url("diceback.avif") center no-repeat fixed;
    background-size: cover;
}
body{
    background: white;
    text-align: center;
    padding: 25px, 100px;
    width: 525px;
    height: 725px;
    margin: 25px auto;
    border-radius: 25px;
}
h1{
    font-size: large;
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
hr{
    width:500px;
}
input{
    width: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    text-align: center;
  }
  button{
    background: crimson;
    color: white;
    border-radius: 5px;
    padding: 2px 10px;
    cursor: pointer;
  }
  img{
      width: 500px;
  }
  